<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STIPS Governance</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<h1>STIPS Governance</h1>

Hello {{ username }}!
<br/>
<br/>
<form action="/user/{{ username }}">
    <input type="submit" value="Go to user view">
</form>

<h1>Users</h1>
<h2>Create a new user</h2>

<form method="post" action="/create_user">
    <label for="username to modify">Name</label>
    <br/>
    <input name="username to modify" id="username to modify">
    <input type="hidden" name="username" value="{{ username }}">
    <input type="submit" value="Submit">
</form>
<h2>
    User states
</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Ready</th>
        <th>Include in meeting</th>
        <th>Delete user</th>
    </tr>
{% for username_to_modify, included in is_included.items() %}
    <tr>
        <td>{{ username_to_modify }}</td>
        <td>
            {% if is_ready[username_to_modify] %}
            <text style='color:green'>Yes</text>
            {% else %}
            <text style='color:red'>No</text>
            {% endif %}
        </td>
        <td>
            <form method="post" action="/set_included">
                <input type="checkbox" name="included" value="1" onChange="this.form.submit()" {% if included %} checked {% endif %}>
                <input type="hidden" name="username to modify" value="{{ username_to_modify }}">
                <input type="hidden" name="username" value="{{ username }}">
            </form>
        </td>
        <td>
            <form method="post" action="/delete_user">
                <input type="submit" value="❌">
                <input type="hidden" name="username to modify" value="{{ username_to_modify }}">
                <input type="hidden" name="username" value="{{ username }}">
            </form>
        </td>
    </tr>
{% endfor %}
</table>

<h1>Select next presentation</h1>
    <form method="post" action="/select_presentation">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="submit" value="Select next presentation">
    </form>
</body>
</html>