<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STIPS Governance</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<h1>STIPS Governance</h1>
<form method="post" action="/">
    <label for="username">Name</label>
    <br/>
    <input name="username" id="username" value="{{ default }}">
    <br/>
    <br/>
    <input type="submit" value="Submit">
</form>
{% if failed %}
</br>
</br>
Invalid username! Try again
{% endif %}
</body>