<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STIPS Governance</title>
</head>

<!-- Latest Sortable -->
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS for Sortable -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<script>
    var timer_func = setInterval(function() {
        var timer = document.getElementById("timer")
        if(timer) {
            var stop = {{ presentation_end }};
            var now = Math.floor(Date.now() / 1000);
            var delta = Math.abs(stop - now);
            var sign = Math.sign(stop - now);
            var minutes = Math.floor(delta/60);
            var seconds = Math.floor(delta%60);
            var string = String(minutes) + ":" + String(seconds).padStart(2, '0');
            if(sign == 1 && minutes >= 2) {
                timer.style.color = "green";
            }
            if(sign == 1 && minutes < 2) {
                timer.style.color = "orange";
            }
            if(sign != 1) {
                string = "-" + string
                timer.style.color = "red";
            }
            timer.innerHTML = string
        }
    }, 1000);
    var ranked;
    var unranked;
    function update_rankings() {
        fetch("/update_rankings",
        {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(
                {
                    username: "{{ username }}",
                    ranked: ranked.toArray(),
                    unranked: unranked.toArray()
                }
            )
        })
        .catch(function(res){ console.log(res) })
    }
    window.onload = function () {
        ranked = Sortable.create(
            document.getElementById("ranked"),
            {
                multiDrag: true,
                animation: 150,
                onEnd: update_rankings,
                selectedClass: "selected",
                group: "rankings"
            }
        );
        unranked = Sortable.create(
            document.getElementById("unranked"),
            {
                multiDrag: true,
                animation: 150,
                onEnd: update_rankings,
                selectedClass: "selected",
                group: "rankings"
            }
        );
    };


</script>

<body>
<h1>STIPS Governance</h1>

Hello {{ username }}!

{% if is_admin %}
<br/>
<br/>
You are an administrator
<br/>
<br/>
<form action="/admin/{{ username }}">
    <input type="submit" value="Go to admin view">
</form>
{% endif %}

<h2>Propose Presentation</h2>
<form method="post" action="/submit_presentation">
    <label for="presentation name">Presentation name</label>
    <br/>
    <input name="presentation name" id="presentation name" required>
    <br/>
    <label for="presentation duration">Presentation duration</label>
    <br/>
    <input name="presentation duration" id="presentation duration" type="number" min="0" value="30" required>
    <input type="hidden" name="username" value="{{ username }}">
    <br/>
    <br/>
    <input type="submit" value="Submit">
</form>
<h2>Your Presentations</h2>
{% for presentation, owner in presentation_owners.items() %}
    {% if owner == username %}
        <form method="post" action="/delete_presentation">
        <input type="submit" value="❌">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="presentation name" value="{{ presentation }}">
        {{ presentation }}
        </form>
    {% endif %}
{% endfor %}

<h2>All proposed presentations</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Presenter</th>
        <th>Duration</th>
    </tr>
    {% for presentation, owner in presentation_owners.items() %}
    <tr {% if presentation == current_presentation %} bgcolor="green" style="color:white" {% elif presentation in previous_presentations %} bgcolor="grey" style="color:white" {% endif %}>
        <td>{{ presentation }}</td>
        <td>{{ owner }}</td>
        <td>{{ presentation_durations[presentation] }} </td>
    </tr>
    {% endfor %}
</table>

<h2>Vote on Presentations</h2>
Drag the presentations from the right column to the left column (it is a bit finicky for the first item)
</br>
In the left column, sort items so that your favorite items are at the top
<br/>
You can update your preferences before the next presentation is selected (initiated by an admin). Refresh to see new presentations
<br/>
<br/>
<div class="row">
  <div class="column">
      Your rankings
      <div id="ranked" class="list-group">
        {% for presentation in ranked %}
        <div data-id={{ presentation_hashes[presentation] }} class="list-group-item">
            {{ presentation }}
            <br/>
            {{ presentation_owners[presentation] }}
            <br/>
            {{ presentation_durations[presentation] }}
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="column">
      New/unranked presentations
      <div id="unranked" class="list-group">
        {% for presentation in unranked %}
        <div data-id={{ presentation_hashes[presentation] }} class="list-group-item">
            {{ presentation }}
            <br/>
            {{ presentation_owners[presentation] }}
            <br/>
            {{ presentation_durations[presentation] }}
        </div>
        {% endfor %}
    </div>
  </div>
</div>

<h2>Past presentations</h2>
{% for presentation in previous_presentations %}
<div>
    {{ presentation }}
    <br/>
    {{ presentation_owners[presentation] }}
    <br/>
    {{ presentation_durations[presentation] }}
</div>
{% endfor %}

<h2>Current Presentation</h2>
{% if current_presentation is none %}
The first presentation hasn't been selected yet, put your preferences in and mark yourself as ready below
{% else %}
<text style='color:green;font-size:200%' >{{ current_presentation }}</text>
<br/>
<br/>
<text id="timer" style='font-size:200%'></text>
{% endif %}


<h2>Are you ready for the next presentation to begin?</h2>

{% if ready %}
<text style='color:green;font-size:200%' >Yes!</text>
<br/>
<br/>
<form method="post" action="/set_ready">
    <input type="hidden" name="ready" value="0">
    <input type="hidden" name="username" value="{{ username }}">
    <input type="submit" value="I am not ready" >
</form>
{% else %}
<text style="color:red;font-size:200%" >Not yet</text>
<br/>
<br/>
<form method="post" action="/set_ready">
    <input type="hidden" name="ready" value="1">
    <input type="hidden" name="username" value="{{ username }}">
    <input type="submit" value="I am ready" >
</form>
{% endif %}
</body>
</html>